.chat-widget {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    margin-left: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .chat-messages {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
  }
  
  .chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    width: 60%;
  }
  
  .chat-message.user {
    background-color: #a9a6a6;
    align-self: flex-end;
  }
  
  .chat-message.bot {
    background-color: #f1f1f1;
    align-self: flex-start;
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .send-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #0056b3;
  }

  .voice-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgb(157, 157, 157);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    align-self: center;
  }
  